<h3 align="center"><%= "Category: " + @category.name %></h3>


<div align="center">
  <% if logged_in? && current_user.admin? %>
    <div>
      <span class="badge cat-show-badge"><%= link_to "Edit Category Name", category_path(@category), class: 'category-name-badge' %></span>
    </div>
  <% end %>  
  <%= will_paginate @category_articles %>
</div>  
<!--Adds per page navigation-->

<%= render 'articles/article', obj: @category_articles %>
<!--Within the article partial, the article variable will refer to all the articles for a given category.-->

<div align="center">
  <%= will_paginate @category_articles %>
</div>